# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\y2代码\AppInfoMangerSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
